body{
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: rgb(233, 229, 243);
    font-family: "Poppins", sans-serif;
}

footer{
    background-color: rgb(233, 229, 243);
    font-family: "Poppins", sans-serif;
}